body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 100px 1fr 60px;

}


header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main{
    display: grid;
    gap: 10px;

}

.box_one{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.box_one table{
    border: 1px solid black;
}

.box_one tr,td,th{
    border: 1px solid black;
}
.box_two{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.fruit-container{

    border: 2px solid red;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;

}

.fruit-container div{
    padding: 10px;
}

.box_three{
    border: 2px solid red;

}

.box_four{
    border: 2px solid red;

}